<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="de.springframework.springpetclinic.model.Owner"*/-->
<h2>Owners</h2>
<p>List of owners</p>
<table  class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">FirstName</th>
        <th style="width: 150px">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.getId()}">1</td>
        <td th:text="${owner.getFirstName()}">Marcus</td>
        <td th:text="${owner.getLastName()}">LastName</td>
    </tr>
    </tbody>

</table>
</body>

</html>